body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid #333;
    border-radius: 50%;
    margin-bottom: 20px; /* Ajoutez une marge pour l'espace entre l'horloge et les chiffres */
}

.hour, .minute, .second {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #333;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: transform 0.5s cubic-bezier(0.4, 2.6, 0.3, 1);
}

.minute {
    height: 1.5px;
    background-color: #333;
}

.second {
    height: 1px;
    background-color: red;
}

#current-time {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Centrez le texte */
}

#current-time span {
    margin: 0 5px; /* Ajoutez une marge entre les chiffres */
}
